<h2> Education </h2>
<hr class="style1">
<br>
<div class="border">
    <h3>PES University</h3>
</div>
<br>
<h5>Computer Science and Engineering, 2015 - 2019</h5>
<br>
<div class="container">
    <div class="exp-text">
        <p>
            GPA : 9.1<br>
            Specialization : Data Science<br>
            Awarded CNR Rao Merit Scolarship for being top 20% in Computer Science Department
        </p>
    </div>
</div>
<br>
<div class="border">
    <h3>KMWA PU College(Deeksha Integrated)</h3>
</div>
<br>
<h5>PCMC</h5>
<br>
<div class="container">
    <div class="exp-text">
        <p>
            Percentage : 97%<br>
        </p>
    </div>
</div>