<div class="container">
    <div class="main-text">
        <p> Hey <span class="material-icons">pan_tool</span>, I am Shreya. I'm a Software Development Engineer 
             at Akamai Technologies <span class="material-icons">laptop_chromebook</span>.
            I have industry experience in building end to end, scalable applications. I specialize in
            Java and Javascript <span class="material-icons">code</span>. I have professional experience working 
            with Springboot and Angular. Data Structures and Algorithms are my core
            strength. 
        </p>
        <div *ngIf="buttonShow">
            <button type="button" class="btn btn-light"  (click)="showButton()">Get In Touch</button>
        </div>
        
        <br>
        <div *ngIf="detailsShow">
            <a href="https://github.com/shreyavshetty">Github</a> | <a href="https://linkedin.com/in/shreya-shetty-286974103
            ">LinkedIn</a> | <a href="https://twitter.com/shreyaavshetty
            ">Twitter</a>
        </div>
    </div>
</div>

